# Folders not related to the engine itself
Exports/
Games/
Docs/
# VS files
x64/
Release/
.vs/
*.filters
*.user
Tools/ProjectGenerator/x64/
Tools/ProjectGenerator/Release/
Tools/BuildTool/x64/
Tools/BuildTool/Release/
# binary files
*.exe
*.pdb
*.a
*.pdb
*.lib
# Generated engine files
paths.txt
cppinfo.txt
# C# related
CSharpCore/obj
CSharpCore/Build
*.lastcodeanalysissucceeded
EngineRelease
EditorContent/Config/EditorPrefs.pref
Build
/ProjectGenerator
./Tools/bin/BuildTool
.vscode
Tools/bin/BuildTool
Tools/BuildTool/Output/GENERATED
