# Folders not related to the engine itself
Exports/
Games/
Docs/
# VS files
x64/
Release/
.vs/
*.sln
*.vcxproj
*.filters
*.user
Tools/ProjectGenerator/x64/
Tools/ProjectGenerator/Release/
Tools/BuildTool/x64/
Tools/BuildTool/Release/
# binary files
*.exe
*.dll
*.lib
./Components/
# Generated engine files
paths.txt
cppinfo.txt
# C# related
CSharpCore/obj
CSharpCore/Build
*.lastcodeanalysissucceeded
CSharpCore/NetRuntime
/EngineRelease
